@using Microsoft.AspNetCore.Identity
@using Domain.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager



@if (SignInManager.IsSignedIn(User))
{
    <div class="content-user">
        <a id="manage" class="nav-link text-dark" asp-page="/Home/Index" title="Manage">
            <div class="left-side-content">
                <span class="material-icons md-60">person</span>
                <p>@UserManager.GetUserName(User)</p>
            </div>
        </a>
        <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </div>
}
else
{
    <a class="nav-link text-dark" href="/Account/Register">
        <div class="login-btn">
            <span class="material-icons md-60">person</span>
            <p>Sign up</p>
        </div>
    </a>
} 