@using Application.DTOs;
@model BookingDto
@{
    ViewData["Title"] = "Details of the Booking";
}
<div class="d-flex justify-content-center wrapper">

    <div style="width:100%">

<div class="row text crudIndex">
    <div class="col-md-8 offset-2">
        <p>
            <h1>View Booking Details</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group">
                    <label asp-for="User.Email" class="control-label"></label>
                    <input asp-for="User.Email" class="form-control" readonly />
                    <span asp-validation-for="User.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CheckInDate" class="control-label"></label>
                    <input asp-for="CheckInDate" class="form-control" readonly />
                    <span asp-validation-for="CheckInDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CheckOutDate" class="control-label"></label>
                    <input asp-for="CheckOutDate" class="form-control" readonly />
                    <span asp-validation-for="CheckOutDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Room.RoomNumber"></label>
                    <input asp-for="Room.RoomNumber" class="form-control" readonly />
                    <span asp-validation-for="RoomId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoomType.Type"></label>
                    <input asp-for="RoomType.Type" class="form-control" readonly />
                    <span asp-validation-for="RoomTypeId" class="text-danger"></span>
                </div>

                <div class="form-group d-flex justify-content-between mt-2">
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    <a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a href="@Url.Action("ViewBill", "Bookings", new { id = Model.Id })" class="btn btn-primary">View Bill</a>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>