@model PaymentDto
@using Application.DTOs

<h2>Payment Details</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Payment ID</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Is Paid</dt>
        <dd class="col-sm-10">@Model.IsPaid</dd>

        <dt class="col-sm-2">Payment Method</dt>
        <dd class="col-sm-10">@Model.PaymentMethodDto</dd>

        <dt class="col-sm-2">Bill ID</dt>
        <dd class="col-sm-10">@Model.BillId</dd>
    </dl>
</div>
<a asp-action="GetAllPayments">Back to List</a>
