@{
    ViewData["Title"] = "Success";
   
}

<div class="container mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card text-center p-3">
                <h4 class="text-success">
                    Thank you for making Payment
                </h4>
                <hr />
                <p>
                    Your payment was successful.
                </p>
            </div>
        </div>
    </div>
</div>
