@using Application.DTOs
@model FeedbackDto
<div class="d-flex justify-content-center wrapper">

<div class="crudIndex">
<h2>Feedback Details</h2>

<div>
    <h4>Comment</h4>
    <p>@Model.Comment</p>
    <h4>Rating</h4>
    <p>@Model.Rating</p>
</div>
<p>
    <a style="color:blue" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a style="color:blue" asp-action="Index">Back to List</a>
</p>

</div>